.header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #e72929;
}

.header a {
  color: #af1313;
}

.header a:hover {
  background: #e72929;
  color: white;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: whitesmoke;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 8rem;
}

.cart_count {
  background-color: #ff4d4d;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menu a {
  padding: 1rem;
  display: inline-block;
  color: #af1313; /* Same color as the links */
  text-decoration: none; /* Remove underline */
}

.menu a:hover {
  background: #e72929; /* Same hover background as other links */
  color: white; /* Change text color on hover */
  cursor: pointer;
}

.logout_button {
  background: none;
  border: none;
  color: #af1313; /* Match text color */
  text-decoration: underline; /* Underlined for style */
  cursor: pointer; /* Pointer cursor for button */
  padding: 1rem; /* Same padding */
  display: inline-block; /* Align with links */
}

.logout_button:hover {
  background: #e72929; /* Same hover background */
  color: white; /* Change text color on hover */
}
